[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
[submodule "open_zeppelin"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/open_zeppelin
